# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# Env file
.env

# Airflow logs
logs/

# Data (raw file JSON)
data/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Docker
*.log

# Note
note/

# External IP
34.173.247.38